@font-face {
  font-family: "VenusRising";
  src: url("fonts/venus_rising_rg-webfont.woff") format("woff"),
        url("fonts/venus_rising_rg-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "TypeWriter";
  src: url("/fonts/jmh_typewriter-webfont.woff") format("woff"),
        url("/fonts/jmh_typewriter-webfont.woff2") format("woff2");
}

.carousel-caption {
  top: 220px;
}

/*.carousel-caption h1, .carousel-caption h2 {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
} */

.carousel_innerContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.sf {
  font-family: 'VenusRising';
  font-size: 2.5rem;
  margin: 10px 0 20px 0;
}

.detective {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .sf {
    font-size: 1rem;
  }

  .detective {
    font-size: 2rem;
  }

  .carousel-item h3 {
    font-size: 0.7rem;
    width: 70%;
  }
}
